form {
    margin-block: 3em;
    margin-left: 100px;
    width: 50%;
    /*border: 1px solid pink;*/

}

form > div {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: 1em;*/

}

input, select, label {
    display: block;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 51%;
    font-size: 1.2rem;
}

label {
    text-align: left;
    margin-block: 0;
}


.form--btn {
    display: block;
    padding: 1em 3.3em;
    width: 50%;
    color: #FFF;
    /*justify-self: center;*/
}

