form {
  margin-block: 3em;
  margin-inline: auto;
  width: 50%;
}

input,
select,
label {
  display: block;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 51%;
  font-size: 1.2rem;
}

label {
  text-align: left;
  margin-block: 0;
}

.form--btn {
  display: block;
  padding: 1em 3.3em;
  width: 50%;
  color: #fff;
}

@media (max-width: 1000px) {
  input,
  select {
    width: 100%;
    font-size: 0.9rem;
  }

  label {
    width: 100%;
    font-size: 1rem;
  }

  .logo {
    height: inherit;
  }

  .form-item--container {
    display: block;
  }
  .form--btn {
    width: 100%;
    padding-inline: 2em;
  }
}

@media (min-width: 2500px) {
  * {
    font-size: 2rem;
  }

  input,
  label,
  select {
    font-size: 2rem;
  }

  option {
    font-size: 1rem;
  }
}
